<%- include('partials/head') %>
<body>
    <%- include('partials/navbar.ejs') %> 

    <!-- Review the index.js file to see how name variable and rand object was passed in -->
    <h1>Your name is: <%= name %></h1>
    <h1>Your random number is: <%= rand %></h1>

    <!-- Adding logic to HTML file using EJS -->
    <% if (rand % 2 === 0) { %>
        <h2>The number is an EVEN number</h2>
    <% } else { %>
        <h2>The number is an ODD number</h2>
    <% } %>

    <!-- Another way to add same logic to HTML file using EJS -->
    <h3>The number is an <%= rand % 2 === 0? 'EVEN': 'ODD' %></h3>

<%- include('partials/footer.ejs') %> 